<!DOCTYPE html>
<html>
    <head>  
        <title><%= title %></title>
    </head>
    <body>
        <% include ("header") %>
        <h1>Service Page</h1>
            <% include ("footer") %>     
    </body>
</html>